# Dot files (IDE, OS, cache, etc.)
.*
!.gitignore
!.gitattributes
!.editorconfig

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
*.user
*.userosscache
*.sln.docstates
*.suo
*.cache
*.vspscc
*.vssscc

# Rider
*.sln.iml

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
!**/[Pp]ackages/repositories.config

# MSTest
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NCrunch
_NCrunch_*
nCrunchTemp_*

# Publish
publish/
PublishOutput/

# User-specific files
*.rsuser
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Secrets
appsettings.Development.json
appsettings.*.local.json
secrets.json
*.key

# Docker
docker-compose.override.yml

# Coverage
coverage/
*.coverage
*.coveragexml
